.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topForm {
  background-color: #6495ed82;
  height: 20%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 4%;
}

.inputText {
  border: none;
  border-radius: 15px 0px 0px 15px;
  padding: 3%;
}

.submitLocation {
  border: none;
  border-radius: 0px 15px 15px 0px;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: -webkit-center;
}

.map-container {
  height: 25%;
  width: 90%;
}
